name: Verify Build

on:
    push:
        branches-ignore:
            - main
    pull_request:
    workflow_dispatch:

jobs:
    verification:
        name: Verification
        runs-on: ubuntu-latest
        steps:
            -   name: Check out project
                uses: actions/checkout@v4
            -   name: Set up JDK 6
                uses: actions/setup-java@v4
                with:
                    java-version: '6.0.119'
                    distribution: 'zulu'
                    architecture: x64
            -   name: Set up JDK 11
                uses: actions/setup-java@v4
                with:
                    java-version: '11'
                    distribution: 'liberica'
            -   name: Setup Gradle
                uses: gradle/gradle-build-action@v3
            -   name: Build and bundle plugin artifact
                run: ./gradlew clean build -Porg.gradle.java.installations.fromEnv=JAVA_HOME_6_0_119_X64 -PjavaCompilerVersion=6
                env:
                    DEVELOCITY_TEST_INSTANCE: ${{ secrets.GE_ACCESS_TOKEN != null && 'https://etiennestuder.gradle-enterprise.cloud' || '' }}
                    GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN != null && secrets.GE_ACCESS_TOKEN || 'dummy.server=dummy_value' }}
                    DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN != null && secrets.GE_ACCESS_TOKEN || 'dummy.server=dummy_value' }}
