name: Create Development Release

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    development_release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            -   name: Check out project
                uses: actions/checkout@v3
            -   name: Set up JDK 6
                uses: actions/setup-java@v3
                with:
                    java-version: '6.0.119'
                    distribution: 'zulu'
                    architecture: x64
            -   name: Set up JDK 8
                uses: actions/setup-java@v3
                with:
                    java-version: '8'
                    distribution: 'adopt'
            -   name: Setup Gradle
                uses: gradle/gradle-build-action@v2
            -   name: Build and bundle plugin artifact
                run: ./gradlew clean build githubRelease -Porg.gradle.java.installations.fromEnv=JAVA_HOME_6_0_119_X64 -PjavaCompilerVersion=6
                env:
                    GRADLE_ENTERPRISE_TEST_INSTANCE: https://etiennestuder.gradle-enterprise.cloud
                    GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}
                    TEAMCITY_PLUGIN_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            -   name: Upload plugin artifact
                uses: actions/upload-artifact@v3
                with:
                    name: teamcity-build-scan-plugin
                    path: build/distributions/teamcity-build-scan-plugin-*.zip
