name: Create Production Release

on:
    workflow_dispatch:
        inputs:
            confirmation:
                description: Enter the confirmation phrase 'PRODUCTION' (without quotes) if you are sure you want to trigger a release.
                required: true

jobs:
    production_release:
        if: github.event.inputs.confirmation == 'PRODUCTION'
        name: Release
        runs-on: ubuntu-latest
        steps:
            -   name: Check out project
                uses: actions/checkout@v4
            -   name: Set up JDK 6
                uses: actions/setup-java@v4
                with:
                    java-version: '6.0.119'
                    distribution: 'zulu'
                    architecture: x64
            -   name: Set up JDK 11
                uses: actions/setup-java@v4
                with:
                    java-version: '11'
                    distribution: 'liberica'
            -   name: Setup Gradle
                uses: gradle/gradle-build-action@v3
            -   name: Build and bundle plugin artifact
                run: ./gradlew clean build -PRELEASE -Porg.gradle.java.installations.fromEnv=JAVA_HOME_6_0_119_X64 -PjavaCompilerVersion=6
                env:
                    DEVELOCITY_TEST_INSTANCE: https://etiennestuder.gradle-enterprise.cloud
                    GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}
                    DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}
            -   name: Create GitHub release
                run: ./gradlew githubRelease -PRELEASE
                env:
                    TEAMCITY_PLUGIN_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}
                    DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}
            -   name: Publish plugin
                run: ./gradlew publishPlugin -PRELEASE
                env:
                    TEAMCITY_PLUGIN_PUBLISH_TOKEN: ${{ secrets.TEAMCITY_PLUGIN_PUBLISH_TOKEN }}
                    GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}
                    DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}
            -   name: Upload plugin artifact
                uses: actions/upload-artifact@v4
                with:
                    name: teamcity-build-scan-plugin
                    path: build/distributions/teamcity-build-scan-plugin-*.zip
